# Fichiers et dossiers Python générés automatiquement
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers de build et distributions
build/
dist/
wheels/
*.egg-info

# Environnements virtuels
.venv/
env/
venv/

# Cache de pytest
.pytest_cache/

# Cache de mypy
.mypy_cache/

# Rapport de couverture
htmlcov/
.coverage

# Paramètres locaux VS Code
.vscode/

# Fichiers temporaires divers
*.log
.DS_Store

# Cache de Ruff
.ruff_cache/
